html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

/* whole chat area  */
.chat-area {
  max-width: min(1000px, 90%);
  display: grid;
  grid-template-columns: auto 1fr;
  height: 80vh;
  margin: 1em auto;
}
/* left pane containing sidebar and contact list */
.left-pane {
  display: grid;
  grid-template-columns: auto 1fr;
}
/* sidebar */
.sidebar {
  background-color: black;
  width: 70px;
}
/* contacts */
.contacts {
  background-color: rgb(20, 20, 20);
}
/* right pane containing chat and input */
.right-pane {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
/* top bar for chat */
.top {
  background-color: rgb(40, 40, 40);
  height: 60px;
}
/* chat content */
.chat {
  background-color: rgb(80, 80, 80);
}
/* input area */
.text {
  background-color: rgb(40, 40, 40);
  height: 50px;
}

@media screen and (max-width: 767.98px) {
  /* hide contact list at small screen size */
  .contacts {
    display: none;
  }
}
