html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-image: var(--gradient-bg);
}

/* whole chat area  */
.chat-area {
  max-width: min(1000px, 90%);
  display: grid;
  grid-template-columns: minmax(70px, 45%) 1fr;
  height: 80vh;
  margin: 1em auto;
  background-color: var(--glass-bg);
}
/* left pane containing sidebar and contact list */
.left-pane {
  display: grid;
  grid-template-columns: 70px auto;
}
/* sidebar */
.sidebar {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* contacts */
.contacts {
  background-color: var(--bg-color-translucent);
}
/* right pane containing chat and input */
.right-pane {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
}
/* top bar for chat */
.top {
  background-color: rgb(40, 40, 40);
}
/* chat content */
.chat {
  background-color: rgb(80, 80, 80);
}
/* input area */
.text {
  background-color: rgb(40, 40, 40);
}
.search {
  border-radius: 10px;
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.image {
  border-radius: 50px;
}
.currentcontact {
  display: flex;
  border: 1px solid rgb(253, 225, 225);
}
.nametext {
  padding-left: 20px;
}
.sidebar > * {
  margin: 20px 20px;
}

@media screen and (max-width: 767.98px) {
  /* hide contact list at small screen size */
  .contacts {
    display: none;
  }
  /* readjust left-pane to repond to hidden contacts list */
  .chat-area {
    grid-template-columns: 70px 1fr;
  }
  /* increase top row to fit avatar */
  .right-pane {
    display: grid;
    grid-template-rows: 60px 1fr 50px;
  }
}
