/*main area*/
main {
  background-image: var(--gradient-bg);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/* whole chat area  */
.chat-area {
  width: min(1000px, 90%);
  display: grid;
  grid-template-columns: minmax(70px, 45%) 1fr;
  min-height: 95vh;
  margin: 1em auto;
  background: var(--glass-bg);
  border-radius: var(--border-radius);
}
/* left pane containing sidebar and contact list */
.left-pane {
  display: grid;
  grid-template-columns: 70px auto;
}
/* sidebar */
.sidebar {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--blue-dark);
  border-bottom-left-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}

/* contacts */
.contacts {
  background-color: var(--bg-color-translucent);
}
/* right pane containing chat and input */
.right-pane {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
}
/* top bar for chat */
.top,
.text {
  background-color: var(--bg-color-translucent);
  padding: 5px 10px;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-right-radius: var(--border-radius);
}

/* chat content */
.chat {
  padding: 15px;
}

/* input area */
.text {
  display: flex;
  justify-content: end;
  border-bottom-right-radius: var(--border-radius);
}

.profile {
  display: flex;
}
#profile-name {
  font-weight: 600;
  font-size: 0.85rem;
}
#profile-status {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--blue);
}
.avatar {
  display: none;
  margin-right: 10px;
}
.profile-details {
  display: flex;
  flex-direction: column;
}
.profile-details > p {
  padding: 2px 0;
}
.profile:hover,
.icons > *:hover {
  border: 2px solid white;
}
.icons {
  display: flex;
  align-items: center;
  color: var(--blue-dark);
}
.icons > * {
  margin: 0 10px;
}

.listItem {
  list-style-type: none;
  margin-bottom: 20px;
  width: 100%;
}
.text-bubble,
.reply-bubble {
  width: var(--bubble-width);
  max-width: var(--bubble-max-width);
  padding: var(--bubble-padding);
}

.text-bubble {
  background-color: var(--bg-color-translucent);
  box-shadow: var(--bubble-shadow);
  border-radius: var(--text-bubble-radius);
  margin-left: auto;
}
.reply-bubble {
  padding: 8px;
  border-radius: 10px;
  margin-right: auto;
}
.searchdiv {
  padding: 5px 10px;
}
.search {
  border: none;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0.6rem 0.5rem;
  font-size: 1rem;
}
.image {
  border-radius: 50px;
}
.currentcontact {
  padding: 0.5rem;
  display: flex;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  transition: all 200ms ease-in;
}
.currentcontact:hover {
  background-color: white;
  border: 1px solid var(--blue);
}
.nametext {
  padding-left: 20px;
}
.nametext .name {
  font-weight: 700;
}
.nametext .texts {
  margin-top: 0.5rem;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--blue-dark);
}
.sidebar > * {
  margin: 12px 20px;
}
.reply-bubble {
  color: black;
  background-color: var(--text-bubble-color);
  box-shadow: var(--bubble-shadow);
  border-radius: var(--reply-bubble-radius);
  margin-right: auto;
}
.text-message {
  font-size: 0.8rem;
  font-weight: 500;
}
.time {
  width: fit-content;
  font-size: 0.7rem;
  font-weight: 500;
  margin-left: auto;
  color: var(--blue);
}
#textInput {
  width: 90%;
  padding: 5px;
  background-color: transparent;
  color: var(--font-color);
  border: none;
}
#sendButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.disabled {
  opacity: 0.4;
}

@media screen and (max-width: 767.98px) {
  /* hide contact list at small screen size */
  .contacts {
    display: none;
  }
  /* readjust left-pane to repond to hidden contacts list */
  .chat-area {
    grid-template-columns: 70px 1fr;
  }
  /* increase top row to fit avatar */
  .right-pane {
    display: grid;
    grid-template-rows: 60px 1fr 50px;
  }
  .avatar {
    display: inherit;
  }
  .avatar img {
    border-radius: 100%;
  }
}
